<a href="https://colab.research.google.com/github/VelociRoughtor/BDSET-AI-Course/blob/main/BDSET_Class07_List_Dictionary_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
myList = [12, 13, 16, 29, 20]
print(myList[-1])
print(myList[1:3])

20
[13, 16]

In [ ]:
myList.append(34)
myList

[12, 13, 16, 29, 20, 34]

In [ ]:
myList.insert(1, 5)
myList

[12, 5, 16, 29, 20, 34]

In [ ]:
del myList[1]
myList

[12, 16, 29, 20, 34]

In [ ]:
myList.remove(12)
myList

[16, 29, 20, 34]

In [ ]:
collect = {}
print(type(collect)) # dictionary has higher priority over sets

<class 'dict'>

In [ ]:
collect = {"Student Name" : "Nafeez Iqbal", "Age" : 12, "Gender" : "Male"}
collect

{'Student Name': 'Nafeez Iqbal', 'Age': 12, 'Gender': 'Male'}

In [ ]:
collect["Age"]

12

In [ ]:
collect.keys()

dict_keys(['Student Name', 'Age', 'Gender'])

In [ ]:
collect.values()

dict_values(['Nafeez Iqbal', 12, 'Male'])

In [ ]:
collect["City"] = "Dhaka"
collect

{'Student Name': 'Nafeez Iqbal', 'Age': 12, 'Gender': 'Male', 'City': 'Dhaka'}

In [ ]:
collect.pop("Gender")
collect

{'Student Name': 'Nafeez Iqbal', 'Age': 12, 'City': 'Dhaka'}

In [ ]:
Students = {'StudentNames' : ['Mahim', 'Chor', 'Bichi', 'Mosa'], 'Age' : [58, 29, 34, 51], 'City' : ['Dinajpur', 'Sylhet', 'Sirajganj', 'Kishoreganj']}
Students
Students['StudentNames'][1]

'Chor'

In [ ]:
for name in Students['StudentNames']:
  if (name == 'Chor'):
    print('Plabon '+ name)
  elif (name == 'Bichi'):
    print('Shoreful ' + name)
  else:
    print(name)

Mahim
Plabon Chor
Shoreful Bichi
Mosa

In [ ]:
for data in Students:
  print(data)
  m = len(data)
  for i in range(m):
    print('-',end='')
  print()
  for idx in Students[data]:
    print(idx)
  print()

StudentNames
------------
Mahim
Chor
Bichi
Mosa

Age
---
58
29
34
51

City
----
Dinajpur
Sylhet
Sirajganj
Kishoreganj

In [ ]:
list1 = [1, 2, 3]
list2 = [2, 3, 4]
list3 = [7, 8]
ConcatenatedList = list1 + list2
ConcatenatedList

[1, 2, 3, 2, 3, 4]

In [ ]:
listOfList = [list1, list2, list3]
listOfList

[[1, 2, 3], [2, 3, 4], [7, 8]]

In [ ]:
for i in range(len(listOfList)):
  print(f"idx = {i}")
  for j in range(len(listOfList[i])):
    print(listOfList[i][j])

idx = 0
1
2
3
idx = 1
2
3
4
idx = 2
7
8

In [ ]:
# Task 1
# Find the minimum, maximum, sum, and average of a given list
# The list must not have any duplicates
# Can't use set

def search(newList, val):
  for i in range(len(newList)):
    if (newList[i] == val):
      return False
  return True

def Characteristics(newList):
  sum = 0
  minimum = newList[0]
  maximum = newList[0]
  for i in range(len(newList)):
    sum += newList[i]
    if newList[i] < minimum:
      minimum = newList[i]
    if newList[i] > maximum:
      maximum = newList[i]
  average = sum / len(newList)
  characteristics = {'Minimum' : minimum, 'Maximum' : maximum, 'Sum' : sum, 'Average' : average}
  return characteristics

newList = []
m = int(input())
for i in range(m):
  val = int(input())
  if (search(newList, val)):
    newList.append(val)
print(newList)

characteristics = Characteristics(newList)
print(characteristics)

10
1
3
3
2
4
7
2
4
2
4
[1, 3, 2, 4, 7]
{'Minimum': 1, 'Maximum': 7, 'Sum': 17, 'Average': 3.4}

In [ ]:
# Task 2
# Create a dictionary
# Update Price
# Add Publication Year
# Remove Author

Book = {'Title' : 'Introduction to Python', 'Author' : 'Steve Robinson', 'Price' : '$39'}
Book['Price'] = '$35'
Book['PublicationYear'] = 2009
Book.pop('Author')
Book

{'Title': 'Introduction to Python', 'Price': '$35', 'PublicationYear': 2009}

In [ ]:
# Task 3
# Merge two dictionary
# Dictionary can't have any duplicates

dic1 = {'a' : 100, 'b' : 200, 'c' : 300}
dic2 = {'c' : 300, 'd' : 200, 'e' : 400}
dic3 = dic1.copy()
for key in dic2:
  if key in dic3:
    dic3[key] += dic2[key]
  else:
    dic3[key] = dic2[key]
dic3

{'a': 100, 'b': 200, 'c': 600, 'd': 200, 'e': 400}

In [ ]:
# Task 4
# Sort a list
# Remove the duplicate elements

def remove_duplicate(myList):
  newList = []
  for i in range(len(myList) - 1):
    if myList[i] != myList[i + 1]:
      newList.append(myList[i])
  newList.append(myList[-1])
  return newList

myList = [1, 4, 2, 3, 2, 2, 4, 6, 10, 3, 9, 10, 9]
for i in range(len(myList) - 1):
  for j in range(i + 1, len(myList)):
    if (myList[j] < myList[i]):
      temp = myList[i]
      myList[i] = myList[j]
      myList[j] = temp
newList = remove_duplicate(myList)
print(f"My List = {myList}")
print(f"My List after removing duplicates = {newList}")

My List = [1, 2, 2, 2, 3, 3, 4, 4, 6, 9, 9, 10, 10]
My List after removing duplicates = [1, 2, 3, 4, 6, 9, 10]